body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;          
    background-repeat: no-repeat;    
    background-position: center;     
    min-height: 100vh;               
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
}


h1 {
    color: goldenrod;
    font-size: 100px;
}

#message-el {
    font-style: italic;
    font-size: 35px;
}
#cards-el{
    font-size: 20px;
}
#sum-el{
    font-size:20px;
}

button {
    color: #016f32;
    width: 200px;
    background: goldenrod;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 20px;
}